<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500"
    />
    <%= stylesheet_link_tag 'spree/frontend/tailwind', 'data-turbolinks-track': 'reload' %>
    <title>HTML Preview</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="compiled-styles.css" />
  </head>
  <body>
    <!-- This only removes default margins in our renderer iframe, you may remove -->
    <div class="">
      <div class="inline-flex w-full flex-row text-left leading-[normal] tracking-[-0.32px] text-black" >
        <div class="flex h-full w-full flex-col items-start gap-y-20 overflow-clip bg-white px-20 pb-9" >
          <div class="relative flex flex-grow flex-col items-center justify-end self-stretch text-[96px] leading-[normal]" >
            <div class="flex flex-col h-48 w-full flex-shrink-0 items-center justify-center" >
              <div class="flex flex-col items-center">
                <!-- <span class="font-inter whitespace-pre-wrap font-bold"> </span> -->
                <i class="font-excluded-italic font-inter whitespace-pre-wrap font-bold" ><i>STITCHGRAB</i></i
                >
              </div>
            </div>
            <div class="relative flex flex-grow flex-row h-[650px] items-end justify-center self-stretch" >
              <div class="flex w-full flex-shrink-0 self-stretch">
                <!-- <div class="h-full w-full flex-shrink-0 overflow-clip"></div> -->
                <div class="bg-header max-h-full w-full max-w-full flex-shrink-0 self-stretch bg-no-repeat [background-position:0px_0px] [background-size:100%_102%]" ></div>
              </div>
              <!-- <div class="flex h-[602px] w-0 flex-shrink-0 items-center pr-0">
                <div class="bg-header ml-[-1261px] max-h-full w-[1168px] max-w-full flex-shrink-0 self-stretch bg-no-repeat [background-position:0px_0px] [background-size:100%_102%]" ></div>
              </div> -->
            </div>
          </div>
          <div class="font-excluded-italic flex flex-col w-full items-center  pr-[-44px] text-6xl font-normal leading-[normal] uppercase" >
            <i><i>fashion delivered sameday</i></i>
          </div>
        </div>
      </div>
      <div class="font-excluded-italic inline-flex w-full flex-col items-start gap-y-20 bg-white pb-28 pl-8 pr-20 pt-14 text-left font-normal leading-[normal] tracking-[-0.32px] uppercase" >
        <div class="flex w-[532px] items-center text-[72px] leading-[normal] text-black drop-shadow-lg" >
          <p><span class="italic">Shop by Category</span></p>
        </div>
        <div class="flex flex-wrap w-full items-center justify-center gap-x-20 sm:gap-x-0 gap-y-10 self-stretch text-4xl leading-[normal] text-white [min-width:532px] min-[1502px]:flex-nowrap" >
          <div class="bg-mens-hype-jpg-685kb-medium-1 sm-flex w-1/5 sm:w-1/2 flex-shrink-0 flex-col items-end self-stretch rounded-2xl bg-cover bg-center pb-11 pt-96 drop-shadow-lg" >
            <div class="flex flex-grow items-center self-stretch justify-center">
              <p><span class="italic">Streetwear</span></p>
            </div>
          </div>
          <div class="flex w-1/5 sm:w-1/2 flex-shrink-0 items-center justify-end self-stretch pl-7" >
            <div class="bg-dresses flex flex-grow items-center self-stretch rounded-2xl bg-cover bg-center pb-14 pt-96 drop-shadow-lg justify-center" >
              <p><span class="italic">Dresses</span></p>
            </div>
          </div>
          <div class="bg-mens-shoes-sneaker-jpg-378kb-medium-1 sm-flex w-1/5 sm:w-1/2 flex-shrink-0 flex-col items-end self-stretch rounded-2xl bg-cover bg-center pb-12 pt-96 drop-shadow-lg" >
            <div class="flex flex-grow items-center self-stretch justify-center">
              <p><span class="italic">Sneakers</span></p>
            </div>
          </div>
          <div class="flex w:1/5 sm:w-1/2 flex-shrink-0 items-center justify-end self-stretch pl-10" >
            <div class="bg-vintage flex flex-grow items-center self-stretch rounded-2xl bg-cover bg-center pb-14 pt-96 justify-center" >
              <p><span class="italic">vintage</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="font-excluded-italic inline-flex w-full ml-8 flex-col items-start gap-y-24 bg-white pl-12 pr-14 pt-8 text-left font-normal leading-[normal] tracking-[-0.32px] text-black uppercase" >
        <div class="relative flex flex-row h-[504px] sm:w-full items-center justify-end self-stretch pl-16 pb-[0.32px] pt-[0.02px]" >
          <div class="flex flex-col w-1/3 sm:w-0 sm:hidden">
            <div class=" left-7 top-3 flex flex-row h-14 w-80 flex-shrink-0 items-center text-4xl leading-[normal]drop-shadow-lg" >
              <p><span class="italic">shop Popular</span></p>
            </div>

            <div class=" left-32 top-48 flex flex-row h-28 w-80 flex-shrink-0 items-center text-[72px] leading-[normal] drop-shadow-lg" >
              <p><span class="italic">Hats</span></p>
            </div>
            <div class=" bottom-40 left-24 flex flex-row h-20 w-80 flex-shrink-0 items-center text-[72px] leading-[normal] drop-shadow-lg" >
              <p><span class="italic">Hoodies</span></p>
            </div>
            <div class=" bottom-28 left-0 flex flex-row h-24 w-[529px] flex-shrink-0 items-center text-[72px] leading-[normal] drop-shadow-lg" >
              <p><span class="italic">Sunglasses</span></p>
            </div>
            <div class=" bottom-16 left-32 flex flex-row h-20 w-96 flex-shrink-0 items-center text-[72px] leading-[normal] drop-shadow-lg" >
              <p><span class="italic">Tees</span></p>
            </div>
          </div>
          <div class="flex flex-col w-2/3 sm:w-full ml-20 h-full">

            <div class="flex flex-row h-full w-[115%] sm:w-full items-center justify-end self-stretch">
              <div class="w-[245px] sm:w-1/2 h-[320px] [transform:rotate(339deg)] sm:transform-none z-[3] relative bottom-[4px] left-[52px]">
                <img src="/assets/42e3f6dd3de7e32503d3eef6cc6d89909394723a.png" class="w-[245px] h-[320px] object-cover rounded-2xl">
              </div>
              <div class="w-[245px] h-[320px] sm:w-1/2 z-[1] relative bottom-[32px]">
                <img src="/assets/womens-sunglasses-white-female-79kb-small-1.png" class="w-[245px] h-[320px] object-cover rounded-2xl">
              </div>
              <div class="w-[245px] sm:w-1/2 h-[320px] [transform:rotate(26deg)] sm:transform-none z-[2] relative right-[65px] bottom-[3px]">
                <img src="/assets/e47846b4d1535cdfd17007ce4700347d8de4734c.png" class="w-[245px] h-[320px] object-cover rounded-2xl">
              </div>
              <div class="w-[245px] sm:w-1/2 h-[300px] ransform [transform:rotate(67deg)] sm:transform-none z-0 relative right-[200px] bottom-[-49px]">
                <img src="/assets/d732097300897809d1fe26cb65a41ca3d0d551bf.png" class="mr-5 w-[245px] h-[260px] object-cover rounded-2xl">
              </div>
            </div>
          </div>
        </div>

          
        <div class="flex flex-row items-center justify-center self-stretch px-60 text-5xl leading-[normal]" >
          <div class="flex w-[938px] flex-shrink-0 items-center self-stretch pl-40" >
            <div class="flex flex-grow items-center self-stretch">
              <p><span class="italic">get it within hours</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="relative flex flex-wrap h-full w-full items-start overflow-clip bg-white  " >
        <div class="flex flex-row w-full  h-28 flex-shrink-0 items-center pl-12  mt-28" >
          <div class="flex flex-col w-96 font-excluded-italic inset-0  items-center self-stretch h-28 text-5xl tracking-[-0.32px] leading-[normal] text-black drop-shadow-lg uppercase" >
            <p><span class="italic">Popular Brands</span></p>
          </div>
        </div>
        <div class="flex flex-row w-full h-[400px] px-2">

          <div class="flex flex-col w-1/3 h-full flex-shrink-0 items-center justify-center" >
            
              <!-- <div class="flex flex-col items-center pr-14"> -->
                <img
                  src="/assets/UGG_logo1.svg"
                  class="h-20 w-60 flex-shrink-0"
                >
              <!-- </div> -->
          </div>
          <div class="flex flex-col w-1/3  h-full flex-shrink-0 items-start" >
            <img
                src="/assets/bg-untitled-design-21.png"
                class="relative h-[260px] w-[459px] flex-shrink-0"
              />
          </div>
          <div class="flex flex-col w-1/3 h-full flex-shrink-0 items-center justify-center" >
            <!-- <div class="flex flex-col items-center pr-14"> -->
              <img
                src="/assets/untitled-design-72.png"
                class="relative h-[53px] w-[482px] flex-shrink-0"
              />
            <!-- </div> -->
          </div>

          
        </div>

        <div class="flex flex-row w-full h-[400px] px-2">
          <div class="flex flex-col w-1/3 items-start  inset-0 flex max-h-full max-w-full bg-no-repeat" >
            <img src="/assets/untitled-design-71.png" class="h-[500px] w-[575px] relative bottom-[6rem]">
          </div>
          <div class="flex flex-col w-1/3 h-96 flex-shrink-0 flex-col items-center" >
           <img src="/assets/bg-untitled-design-211.png" class="w-[410px] h-[244px]">
          </div>
          <div class="flex flex-col w-1/3  flex-shrink-0 items-start" >
            <object
              data="/assets/UntitledDesign22.svg"
              class="-mb-11 h-[500px] w-[500px] flex-shrink-0"
            ></object>
          </div>

          
        </div>
          
          
      </div>

    </div>
  </body>
</html>

