@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700");
@import url("https://api.fontshare.com/css?f[]=inter@400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ExcludedItalic:wght@400");
@import url("https://api.fontshare.com/css?f[]=excludeditalic@400&display=swap");

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}
.font-inter {
  font-family: Inter;
}
.font-excluded-italic {
  font-family: ExcludedItalic;
}
.bg-header {
  background-image: url(asset_path('/assets/homepage/header.gif'));
}

.bg-desk-header {
  background-image: url(asset_path('/assets/homepage/header-desktop.gif'));
}

.bg-mens-hype-jpg-685kb-medium-1 {
  background-image: url(asset_path('/assets/homepage/mens-hype-jpg-685kb-medium-1.png'));
}
.bg-dresses {
  background-image: url(asset_path('/assets/homepage/black-maxi-dress-white-female-jpg-medium-492kb-1.png'));
}
.bg-mens-shoes-sneaker-jpg-378kb-medium-1 {
  background-image: url(asset_path('/assets/homepage/mens-shoes-sneaker-jpg-378kb-medium-1.png'));
}
.bg-vintage {
  background-image: url(asset_path('/assets/homepage/pexels-displaced-by-design.png'));
}

.bg-pexels-zack-jarosz-168771911 {
  background-image: url(asset_path('/assets/homepage/d732097300897809d1fe26cb65a41ca3d0d551bf.png'));
}
.bg-mens-hoodies-107kb-jpg-small-1 {
  background-image: url(asset_path('/assets/homepage/e47846b4d1535cdfd17007ce4700347d8de4734c.png'));
}
.bg-womens-graphics-tee-106kb-small-jpg-1 {
  background-image: url(asset_path('/assets/homepage/42e3f6dd3de7e32503d3eef6cc6d89909394723a.png'));
}

.bg-t-bg-untitled-design-21jordan-logo-1 {
  background-image: url(asset_path('/assets/homepage/UntitledDesign21.svg'));
}
.bg-jordan-logo-1 {
  background-image: url(asset_path('/assets/homepage/jordan-logo-1.png'));
}
.bg-untitled-design-71 {
  background-image: url(/assets/homepage/untitled-design-71.png);
}
.bg-mens-pexels-erik-mclean {
  background-image: url(/assets/men/pexels-erik-mclean.png);
}

.bg-mens-pexels-elle-hughes {
  background-image: url(/assets/men/pexels-elle-hughes.png);
}

.bg-mens-pexels-lucas-monteiro {
  background-image: url(/assets/men/pexels-lucas-monteiro.png);
}

.bg-mens-pexels-garrett-morrow {
  background-image: url(/assets/men/pexels-garrett-morrow.png);
}

.bg-mens-pexels-ray-piedra {
  background-image: url(/assets/men/pexels-ray-piedra.png);
}

.bg-mens-vintage {
  background-image: url(/assets/men/vintage.png);
}

.bg-women-tops {
  background-image: url(/assets/women/women-tops.png);
}

.bg-women-pexels-jonaorle {
  background-image: url(/assets/women/pexels-jonaorle.png);
}

.bg-women-pexels-godisable-jacob {
  background-image: url(/assets/women/pexels-godisable-jacob.png);
}

.bg-women-pexels-jess-loiterton {
  background-image: url(/assets/women/pexels-jess-loiterton.png);
}

.bg-women-dresses {
  background-image: url(/assets/women/women-dresses.png);
} 
.bg-women-pexels-julia-kuzenkov {
  background-image: url(/assets/women/pexels-julia-kuzenkov.png);
}

.bg-women-vintage {
  background-image: url(/assets/women/women-vintage.png);
}

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}


