<div class="inline-flex w-full flex-row text-left leading-[normal] tracking-[-0.32px] text-black" >
  <div class="flex h-full w-full flex-col items-start gap-y-20 overflow-clip bg-white px-20 pb-2" >
    <div class="relative flex flex-grow flex-col items-center justify-end self-stretch text-[96px] leading-[normal]" >
      <div class="flex flex-col h-48 w-full flex-shrink-0 items-center justify-center" >
        <div class="flex flex-col items-center">
          <!-- <span class="font-inter whitespace-pre-wrap font-bold"> </span> -->
          <i class="font-excluded-italic font-inter whitespace-pre-wrap font-bold" ><i>STITCHGRAB</i></i
          >
        </div>
        <div class="font-excluded-italic flex flex-col w-full items-center  pr-[-44px] text-4xl font-normal text-center leading-[normal] uppercase" >
          <i>fashion delivered sameday</i>
        </div>
      </div>
      <% if @show_header %>
      <div class="relative flex flex-grow flex-row h-[650px] items-end justify-center self-stretch" >
        <div class="flex w-full flex-shrink-0 self-stretch">
          <!-- <div class="h-full w-full flex-shrink-0 overflow-clip"></div> -->
          
          <div class="ssm:bg-header bg-desk-header max-h-full w-full max-w-full flex-shrink-0 self-stretch bg-no-repeat [background-position:0px_0px] [background-size:100%_102%]" ></div>
          
        </div>
        <!-- <div class="flex h-[602px] w-0 flex-shrink-0 items-center pr-0">
          <div class="bg-header ml-[-1261px] max-h-full w-[1168px] max-w-full flex-shrink-0 self-stretch bg-no-repeat [background-position:0px_0px] [background-size:100%_102%]" ></div>
        </div> -->
      </div>

      <% end %>

      <div class="relative flex flex-row w-full justify-center text-center items-center ">
        <div class="text-center flex flex-col h-28 w-1/2 flex-shrink-0 items-center justify-center text-[72px] leading-[normal] drop-shadow-lg" >
          <span class="italic uppercase font-excluded-italic font-inter whitespace-pre-wrap font-bold flex flex-row items-center justify-center">
            <%= link_to 'Mens', '/men', class: "text-uppercase main-nav-bar-category-links" %>
          </span>
        </div>
        <div class="text-center bottom-40  flex flex-col  h-28 w-1/2 flex-shrink-0 items-center justify-center text-[72px] leading-[normal] drop-shadow-lg" >
          <span class="italic uppercase font-excluded-italic font-inter whitespace-pre-wrap font-bold flex flex-row items-center justify-center">
            <%= link_to 'Womens', '/women', class: "text-uppercase main-nav-bar-category-links" %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>