<div class="font-excluded-italic inline-flex w-full flex-col items-start gap-y-20 bg-white pb-28 pl-8 pr-20 pt-14 text-left font-normal leading-[normal] tracking-[-0.32px] uppercase" >
  <div class="flex w-[532px] items-center text-[72px] leading-[normal] text-black drop-shadow-lg" >
    <p><span class="italic">Shop by Category</span></p>
  </div>
  <div class="flex flex-wrap w-full items-center justify-center gap-x-20 ssm:gap-x-0 gap-y-10 self-stretch text-3xl leading-[normal] text-white [min-width:532px] min-[1502px]:flex-nowrap" >
    <div class="bg-mens-hype-jpg-685kb-medium-1 sm-flex lg:w-1/5 ssm:w-1/2 ml-8 flex-shrink-0 flex-col items-end self-stretch rounded-2xl bg-cover bg-center pb-11 pt-96 drop-shadow-lg" >
      <div class="flex flex-grow items-center self-stretch justify-center">
        <p><span class="italic">Streetwear</span></p>
      </div>
    </div>
    <div class="flex lg:w-1/5 ssm:w-1/2 flex-shrink-0 items-center justify-end self-stretch ml-8" >
      <div class="bg-dresses flex flex-grow items-center self-stretch rounded-2xl bg-cover bg-center pb-14 pt-96 drop-shadow-lg justify-center" >
        <p><span class="italic">Dresses</span></p>
      </div>
    </div>
    <div class="bg-mens-shoes-sneaker-jpg-378kb-medium-1 sm-flex lg:w-1/5 ssm:w-1/2 ml-8 flex-shrink-0 flex-col items-end self-stretch rounded-2xl bg-cover bg-center pb-12 pt-96 drop-shadow-lg" >
      <div class="flex flex-grow items-center self-stretch justify-center">
        <p><span class="italic">Sneakers</span></p>
      </div>
    </div>
    <div class="flex lg:w-1/5 ssm:w-1/2 flex-shrink-0 items-center justify-end self-stretch ml-8" >
      <div class="bg-vintage flex flex-grow items-center self-stretch rounded-2xl bg-cover bg-center pb-14 pt-96 justify-center" >
        <p><span class="italic">vintage</span></p>
      </div>
    </div>
  </div>
</div>

<div class="font-excluded-italic inline-flex w-full ml-8 flex-col items-start gap-y-24 bg-white pl-12 pr-14 pt-8 text-left font-normal leading-[normal] tracking-[-0.32px] text-black uppercase" >
  <div class="relative flex flex-row h-[504px] ssm:w-full items-center justify-end self-stretch pl-16 pb-[0.32px] pt-[0.02px]" >
    <div class="flex flex-col lg:w-1/3 ssm:w-0 max-ssm:hidden">
      <div class="text-center left-7 top-3 flex flex-row h-14 w-80 flex-shrink-0 items-center text-4xl leading-[normal]drop-shadow-lg" >
        <p><span class="italic">shop Popular</span></p>
      </div>

      <div class="text-center left-32 top-48 flex flex-row h-28 w-full flex-shrink-0 items-center text-[65px] leading-[normal] drop-shadow-lg" >
        <p class="w-full"><span class="italic">Hats</span></p>
      </div>
      <div class="text-center bottom-40 left-24 flex flex-row h-20 w-full flex-shrink-0 items-center text-[65px] leading-[normal] drop-shadow-lg" >
        <p class="w-full"><span class="italic">Hoodies</span></p>
      </div>
      <div class="text-center bottom-28 left-0 flex flex-row h-24 w-full flex-shrink-0 items-center text-[65px] leading-[normal] drop-shadow-lg" >
        <p class="w-full"><span class="italic">Sunglasses</span></p>
      </div>
      <div class="text-center bottom-16 left-32 flex flex-row h-20 w-full flex-shrink-0 items-center text-[65px] leading-[normal] drop-shadow-lg" >
        <p class="w-full"><span class="italic">Tees</span></p>
      </div>
    </div>
    <div class="flex flex-col lg:w-2/3 ssm:w-full ml-20 h-full">

      <div class="flex flex-row h-full lg:w-[115%] ssm:w-full items-center justify-end self-stretch">
        <div class=" lg:w-[300px] ssm:w-1/2 h-[500px] [transform:rotate(339deg)] lg:[transform:rotate(339deg)] ssm:transform-none z-[3] relative top-[45px] left-[3px]">
          <%= image_tag 'homepage/42e3f6dd3de7e32503d3eef6cc6d89909394723a.png', class: 'w-[245px] h-[400px] object-cover rounded-2xl' %>
        </div>
        <div class=" lg:w-[300px] h-[410px] ssm:w-1/2 z-[1] relative bottom-[32px] left-[-85px]">
          <%= image_tag 'homepage/womens-sunglasses-white-female-79kb-small-1.png', class: 'w-[245px] h-[400px] object-cover rounded-2xl' %>
        </div>
        <div class=" lg:w-[300px] lg:w-[245px] ssm:w-1/2 h-[500px] [transform:rotate(26deg)] lg:[transform:rotate(26deg)] top-[45px] left-[-196px] lg:[transform:rotate(26deg)] ssm:transform-none z-[2] relative right-[65px] bottom-[3px]">
          <%= image_tag 'homepage/e47846b4d1535cdfd17007ce4700347d8de4734c.png', class: 'w-[365px] h-[400px] object-cover rounded-2xl' %>
        </div>
        <div class="lg:w-[280px] lg:w-[245px] ssm:w-1/2 h-[350px] ransform [transform:rotate(61deg)] lg:[transform:rotate(61deg)] ssm:transform-none z-0 relative  bottom-[-55px] right-[314px]">
          <%= image_tag 'homepage/d732097300897809d1fe26cb65a41ca3d0d551bf.png', class: 'mr-5 w-[282px] h-[336px] object-cover rounded-2xl' %>
        </div>
      </div>
    </div>
  </div>

    
  <div class="flex flex-row items-center justify-center self-stretch px-60 text-5xl leading-[normal]" >
    <div class="flex w-[938px] flex-shrink-0 items-center self-stretch pl-40" >
      <div class="flex flex-grow items-center self-stretch">
        <p><span class="italic">get it within hours</span></p>
      </div>
    </div>
  </div>
</div>