<div class="flex flex-wrap w-full items-center justify-center gap-x-20 sm:gap-x-0 gap-y-10 self-stretch text-4xl leading-[normal] text-white [min-width:532px] min-[1502px]:flex-nowrap font-excluded-italic uppercase" >

    <div class="bg-women-tops flex w-[90%] flex-shrink-0 flex-wrap h-[400px] items-center justify-center self-stretch rounded-2xl bg-cover bg-center drop-shadow-lg">
	  <div class="flex flex-row items-center justify-center">
	    <p><span class="italic">Tops</span></p>
	  </div>
	</div>

    <div class="bg-women-pexels-jonaorle flex w-[90%] flex-shrink-0 flex-wrap h-[400px] items-center justify-center self-stretch rounded-2xl bg-cover bg-center drop-shadow-lg" >
      <div class="flex flex-row items-center justify-center">
        <p><span class="italic">Tees</span></p>
      </div>
    </div>
    <div class="bg-women-pexels-godisable-jacob flex w-[90%] flex-shrink-0 flex-wrap h-[400px] items-center justify-center self-stretch rounded-2xl bg-cover bg-center pb-11 drop-shadow-lg" >
      <div class="flex flex-row items-center justify-center">
        <p><span class="italic">Accessories</span></p>
      </div>
    </div>

    <div class="bg-women-pexels-jess-loiterton flex w-[90%] flex-shrink-0 flex-wrap h-[400px] items-center justify-center self-stretch rounded-2xl bg-cover bg-center drop-shadow-lg" >
      <div class="flex flex-row items-center justify-center">
        <p><span class="italic">Swimwear</span></p>
      </div>
    </div>

    <div class="bg-women-dresses flex w-[90%] flex-shrink-0 flex-wrap h-[400px] items-center justify-center self-stretch rounded-2xl bg-cover bg-center pb-11 drop-shadow-lg" >
      <div class="flex flex-row items-center justify-center">
        <p><span class="italic">Dresses</span></p>
      </div>
    </div>

    <div class="bg-women-pexels-julia-kuzenkov flex w-[90%] flex-shrink-0 flex-wrap h-[400px] items-center justify-center self-stretch rounded-2xl bg-cover bg-center pb-11 drop-shadow-lg" >
      <div class="flex flex-row items-center justify-center">
        <p><span class="italic">Bottoms</span></p>
      </div>
    </div>
    <div class="bg-women-vintage flex w-[90%] flex-shrink-0 flex-wrap h-[400px] items-center justify-center self-stretch rounded-2xl bg-cover bg-center pb-11 drop-shadow-lg" >
      <div class="flex flex-row items-center justify-center">
        <p><span class="italic">Vintage</span></p>
      </div>
    </div>
</div>